html {
  font-size: 0.875rem;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 0.625rem;
  margin-bottom: 1rem;
}

.p-orderlist-controls {
  display: none;
}

.p-progress-spinner {
  position: static;
}

@media only screen and (min-width: 48rem) {
  .p-orderlist-list-container {
    min-width: 25rem;
  }
}

.p-orderlist-item {
  border-bottom: inherit;
}

li:has(#hide) {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.p-selectbutton {
  margin-right: auto;
}

.header {
  height: 2.313rem;
  font-family:
    Brush Script MT,
    "Dancing Script",
    cursive;
  font-size: xx-large;
}

button.p-button {
  margin-left: auto;
  height: 2.313rem !important;
}

.archive-all-button,
.unarchive-all-button {
  width: 21px;
}
